SECRET_KEY=your-super-secret-key-change-in-production
MONGO_URI=mongodb+srv://niranjanmgvr:XymXw89I7n8lvjRM@cluster0.b2eqq5k.mongodb.net/Manthan?retryWrites=true&w=majority&appName=Cluster0
FLASK_DEBUG=True 